<div class="loginBox">
	<?php if ($_SESSION["login_message"]): ?>
	<div class="loginTopMessage">
		<b><?php echo $_SESSION["login_message"]; ?></b>
		<?php session_unset(); ?>
	</div>
	<?php endif; ?>
	<form action="./function/login.php?ref=<?php echo base64_encode($_SERVER['SCRIPT_NAME']) ?>" method="post">
		
		<div class="formGroup">
			<label for="username"><b>Username:</b></label>
			<input type="text" class="inputClass" id="username" name="username">
		</div>
		<div class="formGroup">
			<label for="pwd"><b>Password:</b></label>
			<input type="password" class="inputClass" id="pwd" name="password">
		</div>
		<button name="submit" type="submit" class="btnClass">Submit</button>
	</form>
</div>
